@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-weight: 400;
  src: local('Roboto Slab'),
    local('Roboto Slab Regular'),
    url('/assets/fonts/Roboto-Slab-Regular-de72ac99ef86dbc828cc008f513bf889.woff2') format('woff2'),
    url('/assets/fonts/Roboto-Slab-Regular-b5dbd41f0d4d80dc1db77ee867a86ab5.woff') format('woff'),
    url('/assets/fonts/Roboto-Slab-Regular-e131b461ddf0a90c3d462814408b45cc.ttf') format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-weight: 700;
  src: local('Roboto Slab Bold'),
    url('/assets/fonts/Roboto-Slab-Bold-0457fa9d8e62f71a6c6667f0a23b54a9.woff2') format('woff2'),
    url('/assets/fonts/Roboto-Slab-Bold-3eb365df1231bdc0196731821bb136d5.woff') format('woff'),
    url('/assets/fonts/Roboto-Slab-Bold-d2aa20c5d8d3569a6ca4f6db56cfaff7.ttf') format('ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 1rem -> 10px */
  font-size: 62.5%;

  /* sizes */
  /*
    size-main is used as the padding, margin etc in most parts of the app.
  */
  --size-main: 2rem;
  /*
    size-inside is used as a space between children of an element that has
    a --size-main space around it.
  */
  --size-inside: 1rem;

  /* colors */
  --color-dark-1: #0e0e0e;
  --color-dark-2: #111111;
  --color-dark-3: #171717;
  --color-text-1: #FFFFFF;
  --color-text-2: #8e8e8e;
}

body {
  background-color: var(--color-dark-1);
  color: var(--color-text-1);
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
}

a {
  color: var(--color-text-2);
  text-decoration: underline;
}

.wrapper {
  margin: 0 auto;
  width: 50%;
}

.main {
  background-color: var(--color-dark-2);
  border-radius: 2px;
  margin-top: var(--size-main);
}

/* 1024px */
@media (max-width: 64em) {
  .wrapper {
    width: 65%;
  }
}

/* 425px */
@media (max-width: 26.5625em) {
  .wrapper {
    width: 100%;
  }
}